<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table_layout}">
<head>
    <meta charset="utf-8">
    <title>orders</title>
    <script type="text/javascript" th:src="@{/js/status.js}"></script>
</head>
<body>

<div layout:fragment="data_table_content">
    <tr th:each="order,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>

        <td th:text="${order.getId()}"></td>
        <td th:text="${#calendars.format(order.getCreated(),'dd MMMM yyyy')}"></td>
        <td th:text="${order.getCustomerEmail()}"></td>
        <td th:text="${order.getCustomerAddress()}"></td>
        <td th:text="${order.getStatus()}"></td>
        <td>
            <select th:id="myselect + ${order.getId()}">
                <option th:value="new" th:text="new">new</option>
                <option th:value="accepted" th:text="accepted">accepted</option>
                <option th:value="collecting" th:text="collecting">collecting</option>
                <option th:value="delivering" th:text="delivering">delivering</option>
                <option th:value="cancelled" th:text="cancelled">cancelled</option>
                <option th:value="finished" th:text="finished">finished</option>
            </select>
        </td>

        <td>
            <BUTTON th:attr="onclick=|updateStatus('${order.getId()}')|"  type="button" class="btn btn-info">update
            </BUTTON>
        </td>
        <td>
            <a th:href="@{'/admin/orders/delete/' + ${order.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>
</div>


<script>

</script>


</body>
</html>
