<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">

    <div layout:fragment="content">
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
            <a class="nav-item nav-link" th:href="@{/items}">Items</a>
            <form class="d-flex" method="POST" th:action="@{/items/search}" id="itemsSearch">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="itemsNamed">
                <button class="btn btn-outline-success" type="submit" id="btnItemsSearch">Search</button>
            </form>
            <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/cart}" style="cursor: pointer !important;">Cart</a>
            <a class="nav-item nav-link" sec:authorize="!isAuthenticated()" th:href="@{/login}" style="cursor: pointer !important;">Login</a>
            <a class="nav-item nav-link" sec:authorize="isAuthenticated()" onclick="document.forms['logoutForm'].submit()"
               style="cursor: pointer !important;">Logout</a>
        </nav>

        <section layout:fragment="open_content"></section>
    </div>
</div>

<th:block layout:fragment="scripts">
</th:block>

</body>
</html>