<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/shop.css}">
    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800&family=Roboto:wght@500;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<form id="logoutForm" method="POST" th:action="@{/logout}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
</form>
<div layout:fragment="content">
    <header class="header">
        <div class="container">
            <div class="header__inner">

                <div class="logo">
                    <div>
                        <img style="width: 50px" th:src="@{/img/logo_pet.png}">
                    </div>
                </div>

                <div class="header__logo">PetShop</div>

                <nav class="nav">

                    <a class="nav__link" th:href="@{/items}">Items</a>
                    <a class="nav__link" sec:authorize="isAuthenticated()"
                       th:href="@{'/cart/' + ${userId}}">Cart</a>
                    <a class="nav__link" sec:authorize="!isAuthenticated()"
                       th:href="@{/login}">Login</a>
                    <a class="nav__link" onclick="document.forms['logoutForm'].submit()"
                       sec:authorize="isAuthenticated()">Logout</a>

                </nav>
                <div class="search">

                        <input id="input" placeholder="Search the store..." type="text">
                        <a th:onclick="inputFunc()" class="nav__link" type="submit">Search!</a>

                </div>


            </div>
        </div>
    </header>
    <section layout:fragment="open_content"></section>
</div>





<!--</div>-->

<th:block layout:fragment="scripts">
</th:block>
<script th:inline="javascript">
    function inputFunc(){
        location.href="/items?itemSearch=" + document.getElementById("input").value;
    }
</script>
</body>
</html>