<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/admin_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>New item</title>
</head>
<body>

<div layout:fragment="admin_content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>New item</h4>
                </div>
                <div class="card-body">
                    <form action="#" enctype="multipart/form-data" method="post" th:action="@{/admin/items/create}"
                          th:object="${item}">
                        <div class="form-group">
                            <label for="itemName">item name</label>
                            <input aria-describedby="itemName" class="form-control" id="itemName" placeholder="Enter item name"
                                   th:field="*{name}" type="text">
                        </div>
                        <div class="form-group">
                            <label for="description">item description</label>
                            <textarea class="form-control" id="description" placeholder="Enter item description"
                                      rows="6" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="item">item image url</label>
                            <input aria-describedby="itemImage" class="form-control" id="item" placeholder="Enter item image url"
                                   th:field="*{itemImage}" type="text">
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
